.calendar {
  display: flex;
  flex-wrap: wrap;
  width: $widthBlock;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    height: 100px;
    margin: 0 1px 1px 0;
    width: $widthElement;
    transition: transform 500ms, background-color 500ms;
  }
}

@each $var in (28, 29, 30, 31) {
  .calendar-#{$var} {
    @for $i from 1 through $var {
      div:nth-child(#{$i}) {
        background-color: $colorCalendar;
        border: 1px solid black;
        &:after {
          content: "#{$i}";
        }

        &:hover {
          background-color: $colorCalendarHover;
          transform: translateY(-20px);
          
        }
      }
    }
  }
}

@each $day, $num in $list {
  .calendar-#{$day} {
    div:first-child {
      margin-left: #{$num * $firstElement};
    }
  }
}
