$list: ("tue":1,"wed":2,"thu":3,"fri":4,"sat":5,"sun":6);
$colorCalendar: #eeee;
$colorCalendarHover: pink;
$widthElement: 100px;
$widthBlock: $widthElement * 7.06;
$firstElement: $widthElement + 1px;
